<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>CFBundleIdentifier</key><string>com.haroldfandino.md-to-kindle.finder</string><key>CFBundleName</key><string>Send to Kindle</string><key>NSServices</key><array><dict><key>NSMenuItem</key><dict><key>default</key><string>Send to Kindle</string></dict><key>NSMessage</key><string>runWorkflow</string><key>NSSendFileTypes</key><array><string>net.daringfireball.markdown</string><string>public.plain-text</string></array><key>NSRequiredContext</key><dict><key>NSApplicationIdentifier</key><string>com.apple.finder</string></dict></dict></array></dict></plist>
